
@media all and (min-width: 481px) {

  html, body {
       height: 100%;
   }

   body {
     margin: 0;
   }

/*FONTS*/

  @font-face {
    src: url(../fonts/campton/CamptonBlack.otf);
    font-family: CamptonBlack;
  }

  @font-face {
    src: url(../fonts/campton/CamptonBold.otf);
    font-family: CamptonBold;
  }

  @font-face {
    src: url(../fonts/campton/CamptonMedium.otf);
    font-family: CamptonMedium;
  }

  @font-face {
    src: url(../fonts/campton/CamptonMediumItalic.otf);
    font-family: CamptonMediumItalic;
  }

  @font-face {
    src: url(../fonts/campton/CamptonBook.otf);
    font-family: CamptonBook;
  }

  @font-face {
    src: url(../fonts/campton/CamptonLight.otf);
    font-family: CamptonLight;
  }

/*BACKGROUNDS*/

  .index-bkg {
    background-image: url('../img/index-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #gallery-bkg {
    background-image: url('../img/gallery-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #media-bkg {
    background-image: url('../img/media-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #projects-bkg-clicked {
    background-image: url('../img/media-bkg-clicked.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #bio-bkg {
    background-image: url('../img/bio-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

/*SITEWIDE*/

  .center-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
  }

  .back-button-white {
    font-family: CamptonBlack;
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
    padding-top: 5px;
  }

  .back-button-white:hover {
    color: #44344f;
  }

  .desc {
    color: white;
    text-align: center;
    font-family: CamptonBold;
    font-size: 24px;
    margin: 0 auto;
    padding-top: 8px;
    max-width: 200px;
  }

/*INDEX*/

  .index-container {
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .menu-item {
    font-family: CamptonBlack;
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 50px;
  }

  .menu-item a {
    font-family: CamptonBlack;
    font-size: 70px;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }

  .menu-item a:hover {
    color: #44344f;
  }

/*GALLERY*/

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 100%;
  }

  .gallery-img {
    width: 600px;
    margin: 20px;
    object-fit: contain;
  }


  .gallery-container-phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 90%;
  }

  .gallery-phone {
    width: 380px;
    margin: 20px;
    object-fit: contain;
  }

  .gallery-hr {
    border-color: #44344f;
    border-width: 8px;
    border-radius: 8px;
    -webkit-filter: blur(4px);
    opacity: 80%;
    width: 70%;
  }

/*MEDIA*/

  .media-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .media-item {
    margin: 0 auto;
    padding: 5px;
  }

  .media-item a {
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
  }

  .media-item:hover {
    opacity: 50%;
  }

  .media-img {
    width: 500px;
    margin-top: 30px;
    margin-bottom:10px;
    object-fit: contain;
  }

/*MEDIA-PROJECTS*/

  .media-design-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .media-design-item {
    padding: 20px;
  }

  .media-design-item a{
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
  }

  .media-design-item:hover {
    opacity: 50%;
  }

  .media-design-img {
    width: 400px;
    margin: 0 auto;
    object-fit: contain;
  }

  .desc-design {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 25px;
    padding: 0px;
    margin: 0 auto;
  }

  .media-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 90%;
  }

  .media-header {
    font-family: CamptonBold;
    font-size: 40px;
    color: white;
  }

/*MEDIA-PROJECT-CLICKED*/

  .project-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top:50px;
    max-width: 90%;
  }

  .project-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 0;
  }

  .project-header {
    font-family: CamptonBold;
    font-size: 32px;
    color: white;
  }

  .project-subheader {
    max-width: 90%;
    font-family: CamptonMedium;
    font-size: 20px;
    color: white;
    text-align: center;
    text-justify: inter-word;
  }

  .project-text {
    font-family: CamptonBook;
    font-size: 18px;
    color: white;
  }

  .project-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: auto;
  }

  .project-img-item {
    padding: 20px;
  }

  .project-img {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .project-desc {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 20px;
    padding: 0px;
    margin: 0 auto;
  }

  .surreal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .surreal-gallery {
    width: 600px;
    margin: 20px;
    object-fit: contain;
  }

  .menu-weblink {
    font-family: CamptonBlack;
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 10px;
  }

  .menu-weblink a {
    font-family: CamptonBlack;
    font-size: 40px;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }

  .menu-weblink a:hover {
    color: #44344f;
  }

  .issu-embed-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: auto;
  }

  .issu-embed {
    position: relative;
    border: none;
    width:900px;
    height: 1100px;
    padding: 40px;
  }

  .project-img-large {
    width: 550px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .project-img-medium {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  #final-song {
    width: 825px;
    height: 250px;
    padding-top:40px;
  }

  #iframe-desc {
    padding-top:15px;
    padding-bottom: 15px;
  }

/* SIZING ID*/

  #hind-banner {
    width: 950px;
  }

/*MENDAHAND*/

  #logo-sketch-1 {
    width: 550px;
  }

  #logo-sketch-2 {
    width: 550px;
  }

  #card-sketch-1 {
    width: 350px;
  }

  #card-sketch-2 {
    width: 350px;
  }

  #card-sketch-3 {
    width: 350px;
  }

  #merch-sketch1 {
    width: 500px;
  }

  #merch-sketch2 {
    width: 500px;
  }

/*HORSETOOTH HOT SAUCE*/

  #original-logo {
    width: 400px;
  }

  #original-label {
    width: 800px;
  }

/*MEDIA-VIDEO*/

  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .video-gallery {
    width: 900px;
    height: 550px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 80px;
    object-fit: contain;
  }

/*MEDIA-ARTWORK*/

  .artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 90%;
  }

  .artwork-img {
    width: 550px;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;


    object-fit: contain;
  }

  .artwork-hr {
    border-color: #44344f;
    border-width: 8px;
    border-radius: 8px;
    -webkit-filter: blur(4px);
    opacity: 80%;
  }

/*BIOGRAPHY*/

  .bio-container {
    height: 70%;
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-picture img {
    margin: 0 auto;
    float: left;
    max-width: 350px;
  }

  .bioh2 {
    float: left;
    color: white;
    font-family: CamptonBold;
    font-size: 36px;
    margin: 0 auto;
    padding-left: 50px;
  }

  .bio-text p {
    float: left;
    color: white;
    font-family: CamptonBook;
    font-size: 20px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 20px;
  }

  .cv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 25px;

  }

  .cv-pdf {
    width: 50%;
    height: 800px;
    justify-content: center;
  }

}
