@media all and (min-width: 481px) {
  html, body {
       height: 100%;
   }
   body {
       margin: 0;
   }

/*FONTS*/
  @font-face {
    src: url(../fonts/campton/CamptonBlack.otf);
    font-family: CamptonBlack;
  }
  @font-face {
    src: url(../fonts/campton/CamptonBold.otf);
    font-family: CamptonBold;
  }
  @font-face {
    src: url(../fonts/campton/CamptonBoldItalic.otf);
    font-family: CamptonBoldItalic;
  }
  @font-face {
    src: url(../fonts/campton/CamptonMedium.otf);
    font-family: CamptonMedium;
  }
  @font-face {
    src: url(../fonts/campton/CamptonMediumItalic.otf);
    font-family: CamptonMediumItalic;
  }
  @font-face {
    src: url(../fonts/campton/CamptonBook.otf);
    font-family: CamptonBook;
  }
  @font-face {
    src: url(../fonts/campton/CamptonLight.otf);
    font-family: CamptonLight;
  }

/*BACKGROUNDS*/
  .video-bkg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    }

  .bkg-1 {
    background-image: url('../img/bkg-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    }
  .bkg-2 {
    background-image: url('../img/bkg-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

/*SITEWIDE*/
  .center-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
  }
  .back-button-white {
    font-family: CamptonBlack;
    font-size: 3em;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    padding-bottom: .5em;

  }
  .back-button-white:hover {
    color: #44344f;
  }
  .desc1 {
    color: white;
    text-align: center;
    font-family: CamptonBold;
    font-size: 3em;
    margin: 0 auto;
    max-width: 10em;
  }
  .desc1 a {
    text-decoration: none;
  }
  .desc2 {
    color: white;
    text-align: center;
    font-family: CamptonBold;
    font-size: 2em;
    margin: 0 auto;
    max-width: 400px;
  }
  .desc2 a {
    text-decoration: none;
  }
  .desc3 {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 20px;
    margin: 0 auto;
    max-width: 400px;
  }
  .desc3 a {
    text-decoration: none;
  }

/*INDEX*/
  .index-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 100vh;
  }
  .name-title {
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 50px;
  }
  .name-title a {
    font-family: CamptonBlack;
    font-size: 90px;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }
  .name-title a:hover {
    color: #44344f;
  }
  .menu-item {
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 50px;
  }
  .menu-item a {
    font-family: CamptonBlack;
    font-size: 7em;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }
  .menu-item a:hover {
    color: #44344f;
  }

/*GALLERY*/
  .gallery {
    margin: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery img {
    justify-content: center;
    transition: 1s;
    padding: 1.5em;
    max-width: 25em;
  }
  .gallery img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .gallery-phone {
    margin: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-phone img {
    justify-content: center;
    transition: 1s;
    padding: 1.5em;
    max-width: 25em;
  }
  .gallery-phone img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .gallery-hr {
    border-color: #44344f;
    border-width: 8px;
    border-radius: 8px;
    -webkit-filter: blur(4px);
    opacity: 80%;
    min-width: 100%;
    margin: 30px;
  }

  /*MEDIA*/
  .media-menu {
    margin: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:10em;
    margin-bottom:5em;
    text-decoration: none;
  }
  .media-menu img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 2em;
    max-width: 35em;
  }
  .media-menu a {
    text-decoration: none;
  }
  .media-menu img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }

/*PROJECTS*/
  .projects {
    margin: 2em 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .projects img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 2em;
    padding-top: 30px;
    width: 500px;
  }
  .projects a {
    text-decoration: none;
  }
  .projects img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }

  /*PROJECT CONTENT*/
  .project-menu-header {
    font-family: CamptonBold;
    font-size: 36px;
    color: white;
    margin: 0 auto;
  }
  .project-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 90%;
  }
  .project-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
  }
  .project-header {
    font-family: CamptonBold;
    font-size: 36px;
    color: white;
  }
  .project-subheader {
    max-width: 60%;
    font-family: CamptonMedium;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0 auto;
  }
  .project-role {
    max-width: 60%;
    font-family: CamptonLight;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 0 auto;
  }
  .project-content {
    margin: 15px 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .project-content img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 30px 15px 10px 15px;
    width: 700px;
  }
  .project-content a {
    text-decoration: none;
  }
  .project-content img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .project-content-vertical {
    margin: 25px 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .project-content-vertical img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 25px 25px 10px 25px;
    width: 400px;
  }
  .project-content-vertical a {
    text-decoration: none;
  }
  .project-content-vertical img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .menu-weblink {
    text-align: center;
    justify-content: center;
    padding: 10px;
  }
  .menu-weblink a {
    font-family: CamptonMediumItalic;
    font-size: 30px;
    margin: 0 auto;
    color: white;
  }
  .menu-weblink a:hover {
    color: #44344f;
  }
  #pebblepark {
    margin: 10px 100px;
  }
  #mendahand-cards {
    margin: 10px 100px;
  }
  #mendahand-logos {
    margin: 10px 10px;
  }
  #mendahand-logos img{
    width: 550px;
  }
  #final-song {
    width: 825px;
    height: 400px;
    padding-top:30px;
  }
  #recyclevid {
    width:800px;
  }
  #recyclevid2 {
    padding-top: 0px;
    padding: 20px;
  }
  #roam-logo {
    width: 200px;
  }

/*VIDEO*/
  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 10%;
  }
  .video-gallery {
    width: 19em;
    height: 13em;
    margin: 0 auto;
    padding: 50px;
    padding-top: 80px;
    object-fit: contain;
  }

/*BIO*/
  .project-subheader-bio {
    font-family: CamptonMediumItalic;
    font-size: 24px;
    color: grey;
    text-align: center;
  }
  #bio-content img{
    max-height: 595px;
  }
  .social {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    color:white;
    background-color: none;
    padding-bottom: 5em;
  }
  .social img {
    justify-content: center;
    transition: 1s;
    width: 4em;
    padding: 1em;
  }
  .social img:hover {
    transform: scale(1.3);
  }
}
