

/* ---------------------------- FONTS ------------------------------*/


@font-face {
  src: url(../fonts/campton/CamptonBlack.otf);
  font-family: CamptonBlack;
}

@font-face {
  src: url(../fonts/campton/CamptonBold.otf);
  font-family: CamptonBold;
}

@font-face {
  src: url(../fonts/campton/CamptonMedium.otf);
  font-family: CamptonMedium;
}

@font-face {
  src: url(../fonts/campton/CamptonMediumItalic.otf);
  font-family: CamptonMediumItalic;
}

@font-face {
  src: url(../fonts/campton/CamptonBook.otf);
  font-family: CamptonBook;
}

@font-face {
  src: url(../fonts/campton/CamptonLight.otf);
  font-family: CamptonLight;
}


/* ------------------------ BACKGROUNDS ---------------------------*/


#index-bkg {
  background-image: url('../img/index-bkg.jpg');
  background-attachment: fixed;
  background-size: cover;
  }

#gallery-bkg {
  background-image: url('../img/gallery-bkg.jpg');
  background-attachment: fixed;
  background-size: cover;
  }

#media-bkg {
  background-image: url('../img/media-bkg.jpg');
  background-attachment: fixed;
  background-size: cover;
  }

#projects-bkg-clicked {
  background-image: url('../img/media-bkg-clicked.jpg');
  background-attachment: fixed;
  background-size: cover;
  }

#bio-bkg {
  background-image: url('../img/bio-bkg.jpg');
  background-attachment: fixed;
  background-size: cover;
  }


  /* ------------------------ SITE WIDE ---------------------------*/


  html, body {
      height: 100%;
  }

  body {
      margin: 0;
  }
