@media screen and (min-width: 415px) {

  /* ----------------------------- FONT FACE -------------------------------*/

  @font-face {
    src: url(../fonts/campton/CamptonBlack.otf);
    font-family: CamptonBlack;
  }

  @font-face {
    src: url(../fonts/campton/CamptonBold.otf);
    font-family: CamptonBold;
  }

  @font-face {
    src: url(../fonts/campton/CamptonMedium.otf);
    font-family: CamptonMedium;
  }

  @font-face {
    src: url(../fonts/campton/CamptonMediumItalic.otf);
    font-family: CamptonMediumItalic;
  }

  @font-face {
    src: url(../fonts/campton/CamptonBook.otf);
    font-family: CamptonBook;
  }

  @font-face {
    src: url(../fonts/campton/CamptonLight.otf);
    font-family: CamptonLight;
  }

  /* ----------------------------- BACKGROUNDS -------------------------------*/

  #index-bkg {
    background-image: url('../img/index-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #gallery-bkg {
    background-image: url('../img/gallery-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #media-bkg {
    background-image: url('../img/media-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #projects-bkg-clicked {
    background-image: url('../img/media-bkg-clicked.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #bio-bkg {
    background-image: url('../img/bio-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  /* --------------------------- SITEWIDE CSS -------------------------------*/

  .center-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
  }

  .back-button-white {
    font-family: CamptonBold;
    font-size: 30px;
    color: white;
  }

  /* ----------------------------- INDEX CSS -------------------------------*/

  ul {
    text-align: center;
    list-style-type: none;
    font-family: CamptonBlack;
    font-size: 60px;
    text-shadow: 2px 2px 5px #00000033;
  }

  li {
    padding: 50px;
    margin: auto 0;

  }

  a:link {
    text-decoration: none;
    color: white;
  }

  a:visited {
    text-decoration: none;
    color:white;
  }

  a:hover {
    text-decoration: none;
    color: #44344f;
  }

  a:active {
    text-decoration: none;
    color: black;
  }

  /* ----------------------------- GALLERY CSS -------------------------------*/

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .gallery-img {
    width: 550px;
    margin: 15px;
    object-fit: contain;
  }

  /* ----------------------------- MEDIA CSS -------------------------------*/


  .media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .media-item:hover {
    opacity: 50%;
  }

  .media-img {
    width: 380px;
    margin: 30px;
    object-fit: contain;
    padding-bottom: 0px;
  }

  .desc {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 25px;
    padding: 0px;
    margin: auto 0;
  }




  /* ----------------------------- BIOGRAPHY CSS -------------------------------*/


  .bio-container {
    margin: auto 0;
    display: flex;
    justify-content: center;
  }

  .my-picture {
    width: 25%;
    float: left;
  }

  .bio-head {
    width: 25%
    float: right;
    color: white;
    font-family: CamptonBold;
    font-size: 24px;
  }

  .bio-text {
    width: 25%
    float: right;
    color: white;
    font-family: CamptonMedium;
    font-size: 16px;
  }

























}
