@media all and (max-width: 480px) {
  html, body {
       height: 100%;
   }
   body {
       margin: 0;
   }

/*FONTS*/
  @font-face {
    src: url(../fonts/campton/CamptonBlack.otf);
    font-family: CamptonBlack;
  }
  @font-face {
    src: url(../fonts/campton/CamptonBold.otf);
    font-family: CamptonBold;
  }
  @font-face {
    src: url(../fonts/campton/CamptonBoldItalic.otf);
    font-family: CamptonBoldItalic;
  }
  @font-face {
    src: url(../fonts/campton/CamptonMedium.otf);
    font-family: CamptonMedium;
  }
  @font-face {
    src: url(../fonts/campton/CamptonMediumItalic.otf);
    font-family: CamptonMediumItalic;
  }
  @font-face {
    src: url(../fonts/campton/CamptonBook.otf);
    font-family: CamptonBook;
  }
  @font-face {
    src: url(../fonts/campton/CamptonLight.otf);
    font-family: CamptonLight;
  }

/*BACKGROUNDS*/
  .index-bkg {
    background-image: url('../img/index-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }
  #gallery-bkg {
    background-image: url('../img/gallery-bkg-mobile.jpg');
    background-attachment: scroll;
    background-size: cover;
    }
  #media-bkg {
    background-image: url('../img/media-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }
  #projects-bkg-clicked {
    background-image: url('../img/media-bkg-clicked.jpg');
    background-attachment: fixed;
    background-size: cover;
    }
  #bio-bkg {
    background-image: url('../img/bio-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

/*SITEWIDE*/
  .center-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
  }
  .back-button-white {
    font-family: CamptonBlack;
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
    padding-top: 10px;
  }
  .back-button-white:hover {
    color: #44344f;
  }
  .desc {
    color: white;
    text-align: center;
    font-family: CamptonBold;
    font-size: 18px;
    margin: 0 auto;
    padding-top: 8px;
  }

/*INDEX*/
  .index-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-item {
    font-family: CamptonBlack;
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 25px;
    max-width: 90%;
  }
  .menu-item a {
    font-family: CamptonBlack;
    font-size: 60px;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }
  .menu-item a:hover {
    color: #44344f;
  }

/*GALLERY*/
  .gallery {
    margin: 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery img {
    justify-content: center;
    transition: 1s;
    padding: 15px;
    width: 250px;
  }
  .gallery img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .gallery-phone {
    margin: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-phone img {
    justify-content: center;
    transition: 1s;
    padding: 10px;
    width: 80px;
  }
  .gallery-phone img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .gallery-hr {
    border-color: #44344f;
    border-width: 8px;
    border-radius: 8px;
    -webkit-filter: blur(4px);
    opacity: 80%;
    width: 70%;
  }

/*MEDIA*/
  .media-menu {
    margin: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    margin-bottom:10%;
    text-decoration: none;
  }
  .media-menu img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 10px;
    width: 250px;
  }
  .media-menu a {
    text-decoration: none;
  }
  .media-menu img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }

  /*PROJECTS*/
  .projects {
    margin: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    margin-bottom:10%;
    text-decoration: none;
  }
  .projects img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 10px;
    width: 250px;
  }
  .projects a {
    text-decoration: none;
  }
  .projects img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }

/*PROJECTS*/
  .projects {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .projects img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 20px;
    width: 300px;
  }
  .projects a {
    text-decoration: none;
  }
  .projects img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }

  /*PROJECT CONTENT*/
  .project-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top:50px;
    max-width: 90%;
  }
  .project-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 50%;
    padding: 0;
  }
  .project-header {
    font-family: CamptonBold;
    font-size: 32px;
    color: white;
  }
  .project-subheader {
    max-width: 90%;
    font-family: CamptonMedium;
    font-size: 20px;
    color: white;
    text-align: center;
    text-justify: inter-word;
  }
  .project-text {
    font-family: CamptonBook;
    font-size: 18px;
    color: white;
  }
  .project-content {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .project-content img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 25px;
    width: 300px;
  }
  .project-content a {
    text-decoration: none;
  }
  .project-content img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  .project-content-vertical {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .project-content-vertical img {
    justify-content: center;
    align-items: center;
    transition: 1s;
    padding: 25px;
    width: 300px;
  }
  .project-content-vertical a {
    text-decoration: none;
  }
  .project-content-vertical img:hover {
    filter:grayscale(100%);
    transform: scale(1.1);
  }
  #pebblepark {
    margin: 10px 100px;
  }
  #mendahand-cards {
    margin: 10px 100px;
  }
  #mendahand-logos {
    margin: 10px 10px;
  }
  #mendahand-logos img{
    width: 300px;
  }



  .project-img-long {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }
  .project-img-medium {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }






  .project-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 90%;
  }

  .project-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    padding: 0;
  }

  .project-header {
    font-family: CamptonBold;
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .project-subheader {
    font-family: CamptonMedium;
    font-size: 18px;
    color: white;
    text-align: center;
    max-width: 100%;
  }

  .project-text {
    font-family: CamptonBook;
    font-size: 18px;
    color: white;
  }

  .project-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: auto;
  }

  .project-img-item {
    padding: 10px;
  }

  .project-img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .project-desc {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 20px;
    padding-top: 5px;
    margin: 0 auto;
  }

  .surreal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .surreal-gallery {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    object-fit: contain;
  }

  .menu-weblink {
    font-family: CamptonBlack;
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 10px;
  }

  .menu-weblink a {
    font-family: CamptonBlack;
    font-size: 24px;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }

  .menu-weblink a:hover {
    color: #44344f;
  }

  .issu-embed-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: auto;
  }

  .issu-embed {
    position: relative;
    border: none;
    width: 90%;
    height: 300px;
    padding: 20px;
  }

  .project-img-large {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }



  #final-song {
    width: 300px;
    height: 250px;
    padding-top:40px;
  }

  #iframe-desc {
    padding-top:15px;
    padding-bottom: 15px;
  }

/*MEDIA-VIDEO*/

  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .video-gallery {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    object-fit: contain;
  }

/*MEDIA-ARTWORK*/

  .artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 90%;
  }

  .artwork-img {
    width: 90%;
    margin: 15px;
    object-fit: contain;
  }

  .artwork-hr {
    border-color: #44344f;
    border-width: 8px;
    border-radius: 8px;
    -webkit-filter: blur(4px);
    opacity: 80%;
  }

/*BIOGRAPHY*/

  .bio-container {
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-picture img {
    margin: 0 auto;
    float: left;
    max-width: 300px;
  }

  .bioh2 {
    float: left;
    color: white;
    font-family: CamptonBold;
    font-size: 36px;
    margin: 0 auto;
    padding-left: 50px;
  }

  .bio-text p {
    float: left;
    color: white;
    font-family: CamptonBook;
    font-size: 20px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 50px;
  }

  .cv-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
