
@media all and (max-width: 480px) {

  html, body {
       height: 100%;
   }

   body {
       margin: 0;
   }

/*FONTS*/

  @font-face {
    src: url(../fonts/campton/CamptonBlack.otf);
    font-family: CamptonBlack;
  }

  @font-face {
    src: url(../fonts/campton/CamptonBold.otf);
    font-family: CamptonBold;
  }

  @font-face {
    src: url(../fonts/campton/CamptonMedium.otf);
    font-family: CamptonMedium;
  }

  @font-face {
    src: url(../fonts/campton/CamptonMediumItalic.otf);
    font-family: CamptonMediumItalic;
  }

  @font-face {
    src: url(../fonts/campton/CamptonBook.otf);
    font-family: CamptonBook;
  }

  @font-face {
    src: url(../fonts/campton/CamptonLight.otf);
    font-family: CamptonLight;
  }

/*BACKGROUNDS*/

  .index-bkg {
    background-image: url('../img/index-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #gallery-bkg {
    background-image: url('../img/gallery-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #media-bkg {
    background-image: url('../img/media-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #projects-bkg-clicked {
    background-image: url('../img/media-bkg-clicked.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

  #bio-bkg {
    background-image: url('../img/bio-bkg.jpg');
    background-attachment: fixed;
    background-size: cover;
    }

/*SITEWIDE*/

  .center-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
  }

  .back-button-white {
    font-family: CamptonBlack;
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
  }

  .back-button-white:hover {
    color: #44344f;
  }

  .desc {
    color: white;
    text-align: center;
    font-family: CamptonBold;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 8px;
  }

/*INDEX*/

  .index-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-item {
    font-family: CamptonBlack;
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 25px;
    max-width: 90%;
  }

  .menu-item a {
    font-family: CamptonBlack;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }

  .menu-item a:hover {
    color: #44344f;
  }

/*GALLERY*/

#roam-banner {
  width: 600px;
}

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 100%;
  }

  .gallery-img {
    width: 150px;
    margin: 10px;
    object-fit: contain;
  }

  .gallery-container-phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 90%;
  }

  .gallery-phone {
    width: 90px;
    margin: 10px;
    object-fit: contain;
  }

  .gallery-hr {
    border-color: #44344f;
    border-width: 6px;
    border-radius: 6px;
    -webkit-filter: blur(4px);
    opacity: 80%;
  }

/*MEDIA*/

  .media-container {
    width: 10%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .media-item {
    margin: 0 auto;
    padding: 0px;
  }

  .media-item a {
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
  }

  .media-item:hover {
    opacity: 50%;
  }

  .media-img {
    width: 300px;
    margin-top: 20px;
    margin-bottom:5px;
    object-fit: contain;
  }

/*MEDIA-PROJECTS*/

  .media-design-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 0 auto;
  }

  .media-design-item {
    padding: 10px;
  }

  .media-design-item a{
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
  }

  .media-design-item:hover {
    opacity: 50%;
  }

  .media-design-img {
    width: 325px;
    margin: 0 auto;
    object-fit: contain;
  }

  .desc-design {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 25px;
    padding: 0px;
    margin: 0 auto;
  }

  .media-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 90%;
  }

  .media-header {
    font-family: CamptonBold;
    font-size: 28px;
    color: white;
  }

/*MEDIA-PROJECTS CLICKED*/

  .project-title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 90%;
  }

  .project-text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    padding: 0;
  }

  .project-header {
    font-family: CamptonBold;
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .project-subheader {
    font-family: CamptonMedium;
    font-size: 20px;
    color: white;
    text-align: center;
    max-width: 85%;
  }

  .project-text {
    font-family: CamptonBook;
    font-size: 18px;
    color: white;
  }

  .project-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: auto;
  }

  .project-img-item {
    padding: 10px;
  }

  .project-img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .project-desc {
    color: white;
    text-align: center;
    font-family: CamptonMedium;
    font-size: 20px;
    padding-top: 5px;
    margin: 0 auto;
  }

  .surreal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .surreal-gallery {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    object-fit: contain;
  }

  .menu-weblink {
    font-family: CamptonBlack;
    text-shadow: 2px 2px 5px #00000033;
    text-align: center;
    justify-content: center;
    padding: 10px;
  }

  .menu-weblink a {
    font-family: CamptonBlack;
    font-size: 24px;
    text-shadow: 2px 2px 5px #00000033;
    text-decoration: none;
    margin: 0 auto;
    color: white;
  }

  .menu-weblink a:hover {
    color: #44344f;
  }

  .issu-embed-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 0 auto;
    margin-bottom: auto;
  }

  .issu-embed {
    position: relative;
    border: none;
    width: 90%;
    height: 300px;
    padding: 20px;
  }

  .project-img-large {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    object-fit: contain;
  }

  .project-img-medium {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  .project-img-vertical {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
    object-fit: contain;
  }

  #final-song {
    width: 100%;
    height: 250px;
    padding-top:40px;
  }

  #iframe-desc {
    padding-top:15px;
    padding-bottom: 15px;
  }

/*MEDIA-VIDEO*/

  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 90%;
  }

  .video-gallery {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    object-fit: contain;
  }

/*MEDIA-ARTWORK*/

  .artwork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 90%;
  }

  .artwork-img {
    width: 90%;
    margin: 15px;
    object-fit: contain;
  }

  .artwork-hr {
    border-color: #44344f;
    border-width: 8px;
    border-radius: 8px;
    -webkit-filter: blur(4px);
    opacity: 80%;
  }

/*BIOGRAPHY*/

  .bio-container {
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-picture img {
    margin: 0 auto;
    float: left;
    max-width: 300px;
  }

  .bioh2 {
    float: left;
    color: white;
    font-family: CamptonBold;
    font-size: 36px;
    margin: 0 auto;
    padding-left: 50px;
  }

  .bio-text p {
    float: left;
    color: white;
    font-family: CamptonBook;
    font-size: 20px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 50px;
  }

  .cv-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
